[Unit]
Description=Run matching-engine healthcheck every 2 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=5s

[Install]
WantedBy=timers.target
